@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sixtyfour+Convergence&display=swap');

body {
    background-color: black;
    height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    background-color: black;
    padding: 5px;
    z-index: 1000;
    text-align: right;
    width: 100%; /* Keep the header full-width */
}

#eleHeader {
    font-family: "Passion One", sans-serif;
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
}
.links{
    text-decoration: none;
    transition: color 0.3s ease;
}
.links:hover{
    color: #e522ff;

}
.nav-link {
    font-size: 25px; 
    color: white;
    text-decoration: none;
    margin-left: 20px;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #e522ff;
}
.cor{
    color: #e522ff;
}
#contact{
    background-color: rgba(36, 36, 36, 1);
}
#projects{
    background-image: url('https://static.vecteezy.com/system/resources/previews/012/051/235/original/black-circuit-technology-business-background-modern-technology-circuit-board-texture-background-design-quantum-computer-technologies-concepts-vector.jpg');
}

.text2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#textPrj{
    font-family: Arial, Helvetica, sans-serif;
    padding-right:30px ;
    font-size: 25px;
}

.textP {
    font-family: "Passion One", sans-serif;
    font-size: 30px;
    text-align: left;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    background: black;
    width: 100%;
    word-wrap: break-word; /* Permite a quebra de linha se o texto ultrapassar o limite */
}

.text {
    font-family: "Passion One", sans-serif;
    font-size: 30px;
    text-align: left;
    justify-content: center;
    align-items: center;
    margin-right: 50px;

    width: 100%;
    word-wrap: break-word; /* Permite a quebra de linha se o texto ultrapassar o limite */
}


.subT2 {
    font-family: "Passion One", sans-serif;
    font-size: 60px;
    text-align: left;
    width: fit-content;
    text-align: left;
}
.contactContainer {
    display: flex; 
    flex-direction: column;
    gap: 40px; 
    justify-content: center; /* Alinha os itens horizontalmente ao centro */
    width: 100%;
    height: 100%;            /* Certifique-se de que a div ocupa toda a altura do container pai */
    text-align: left;      /* Centraliza o texto dentro dos elementos */


}
.projects-container {
    display: flex; 
    flex-direction: column;
    gap: 40px; 
    justify-content: left; /* Alinha os itens horizontalmente ao centro */
    width: 100%;
    height: 100%;            /* Certifique-se de que a div ocupa toda a altura do container pai */
    text-align: left;      /* Centraliza o texto dentro dos elementos */


}
#prj{
    width: 100%;
    display: flex;
    text-align: left;
}
#home {
    height: 100vh;
    display: flex;
    padding-top: 8vh; 
    background: rgb(121,9,112);
    background: linear-gradient(180deg,  rgb(128, 128, 128) 35%, rgba(36, 36, 36, 1) 100%);

}

footer{
    background-color: gray;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    width: 100%;
    height: 100%;
}

.margin {
    margin-left: 50px;
    width: 100%;
}

.titulo {
    font-family: "Passion One", sans-serif;
    font-size: 130px;
    width: fit-content;
}

.subT {
    font-family: "Passion One", sans-serif;
    font-size: 60px;
    width: fit-content;
}

.eclp {
    width: 400px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

#insideImg {
    width: 120%; /* Ajuste o tamanho da imagem interna */
    position: absolute;
    top: 50%; 
    left: 90%; 
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

#outsideImg {
    width: 400px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.arrow {
    position: absolute;
    width: 5%;
    height: 5%;
    transform: translate(-50%, -50%);
    top: 95%;
    left: 50%;
}

#about {
    background-color: rgba(36, 36, 36, 1);
    height: 100vh;
    display: flex;
    padding-top: 7vh;
}

#projects {
    height: 100vh;
    display: flex;
    padding-top: 7vh;
}

#contact {
    height: 100vh;
    display: flex;
    padding-top: 7vh;
}

html {
    scroll-behavior: smooth;
}


